body{
    background-image: url("../Assets/background-1 (2).jpg") !important;
    background-size: cover;
}

.welcome-logo{
    align-items: center;
    text-align: center;
}

.welcome-logo h1{
    font-size: 300%;
    color: black;
    -webkit-text-stroke: 2px white;
}

.form-group{
    text-align: center;
    width: 20%;
    height: 100%;
    align-items: center;
    border-style:solid;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    border-color: black;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .welcome-logo img{
        width: 30% !important;
    }
    .form-group{
        padding: 15%;
        width: 30%;
    }
  }