.welcome-logo{
    align-items: center;
    text-align: center;
}

.welcome-logo h1{
    font-size: 300%;
}

.form-group{
    text-align: center;
    width: 20%;
    height: 100%;
    align-items: center;
    border-style:solid;
    border-radius: 10px;
    margin: 0 auto;
    border-color: black;
    padding: 20px;
}